<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="index.php"/>
			</files>
		</defaultDocument>
		<handlers>
			<add name="php" path="*.php" verb="*" modules="IsapiModule" scriptProcessor="C:\PHP\php5\php5isapi.dll" resourceType="Unspecified"/>
		</handlers>
	</system.webServer>
	<system.web>
		<compilation targetFramework="4.0" debug="true"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web></configuration>