.reveal-modal-bg { position: fixed; height: 100%; width: 100%; z-index: 100; display: none; top: 0; left: 0; background:rgba(00, 00, 00, 0.8) }
.reveal-modal { visibility: hidden; top: 30px; left: 50%; margin-left: -300px; width: 520px; position: absolute; z-index: 101; background-color: #FFF;}
