.reveal-modal-bg { position: absolute; background:#313131; height: 1171px; width: 1419px; z-index: 100; zoom:1; display: none; top: 0; left: 0; filter:alpha(opacity=50); opacity:0.8; -moz-opacity:0.8; }
.reveal-modal { visibility: hidden; top: 30px; left: 50%; margin-left: -300px; width: 520px; position: absolute; z-index: 101; background-color: #FFF;}
